.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 0;
}

.themeSwitcher {
  display: flex;
  align-items: center;
  gap: 1rem;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  background-color: transparent;
  cursor: pointer;
  color: var(--lighter-text);
}

.themeSwitcher:hover {
  color: var(--btn-hover);
}
