.User {
  display: grid;
  grid-template-areas:
    "avatar user-header"
    "avatar bio"
    "avatar numbers"
    "avatar links";
  gap: 2rem;
  margin: 1rem 0;
  padding: 3rem 3rem 1rem 3rem;
  border-radius: 0.6rem;
  box-shadow: 1px 5px 10px rgb(0 0 0 / 10%);
  background-color: var(--secondary-bg-color);
}

.userAvatar img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
}

.userHeader {
  display: flex;
  justify-content: space-between;
  grid-area: user-header;
}

.userName span {
  color: var(--primary);
}

.userBio {
  grid-area: bio;
  grid-row: 1 / 2;
  display: flex;
  align-items: flex-end;
  color: var(--darker-text);
}

.userNumbers {
  grid-area: numbers;
  grid-row: 2 / 3;
  background-color: var(--bg-color);
  border-radius: 0.6rem;
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
}

.userNumbers > div > span {
  color: var(--darker-text);
  font-size: 0.8rem;
}

.userNumbers > div > p {
  font-size: 1.5rem;
  font-weight: 700;
}

.userLinks {
  grid-area: links;
  grid-row: 3 / 4;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2rem;
  color: var(--darker-text);
}

.userLinks div {
  min-width: 40%;
  display: flex;
  align-items: center;
  gap: 1rem;
}

/* Tablet */
@media (max-width: 950px) {
  .User {
    display: grid;
    grid-template-columns: min-content 1fr;
    grid-template-areas:
      "avatar user-header"
      "bio bio"
      "numbers numbers"
      "links links";
    padding-bottom: 3rem;
  }

  .userHeader {
    justify-content: flex-start;
    flex-direction: column;
  }

  .userCreatedDay {
    text-align: left;
    margin-top: 0.4rem;
  }

  .userAvatar {
    grid-area: avatar;
  }

  .userCreatedDay {
    grid-column: 1 / 3;
    grid-row: 1;
    align-items: flex-end;
  }

  .userBio {
    grid-row: 2 / 3;
  }

  .userNumbers {
    grid-row: 3 / 4;
  }

  .userLinks {
    grid-row: 4 / 5;
  }
}

/* Mobile */
@media (max-width: 630px) {
  .User {
    gap: 2rem;
    padding: 2rem;
    font-size: 0.8em;
  }

  .userAvatar img {
    width: 80px;
    height: 80px;
  }

  .userNumbers {
    padding: 0.8rem 1.3rem;
  }

  .userNumbers > div > p {
    text-align: center;
    font-size: 1.5em;
  }

  .userLinks {
    gap: 1rem;
  }
}
